<header>
	<nav>
		<a href="/">Wypożyczalnia</a>
		<ul>
			<li>
				<a href="/games">Games</a>
			</li>
			<li>
				<a href="/games/new">Add game</a>
			</li>
			<!-- <li>
                <a href="/games">Games</a>
            </li> -->
		</ul>
	</nav>
</header>
