<header>
	<nav>
		<a href="/">Wypożyczalnia</a>
		<ul>
			<li>
				<a href="/games">Gry</a>
			</li>
			<li>
				<a href="/games/new">Dodaj grę</a>
			</li>
			<li>
				<a href="/customers">Klienci</a>
			</li>
			<li>
				<a href="/customers/new">Nowy klient</a>
			</li>
			<li>
				<a href="/rentals">Wypożyczenia</a>
			</li>
		</ul>
	</nav>
</header>
