<div>
	<label>Imie</label>
	<input type="text" name="name" value="<%=customer.name%>" />
</div>

<div>
	<label>Nazwisko</label>
	<input type="text" name="lastName" value="<%=customer.lastName%>" />
</div>
<div>
	<label>mail</label>
	<input type="text" name="mail" value="<%=customer.mail%>" />
</div>
